<section class="vision">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="lead">やさしい暮らし</p>
      <h1 class="display-3">笑顔あふれるVegan Lifeを共創する</h1>
      <p class="logo-small"></p>
    </div>
  </div>
</section>