<section class="agree-to-condition">

  <p>VCメンバーとなる前に、契約の内容をご確認ください。</p>
<!--  <h3>利用申し込みの約束事</h3>-->
<!--  <div class="join-promise">-->

<!--  </div>-->

  <h3>個人情報の取り扱い</h3>
  <div class="about-personal-info">
    <p>
      日本ヴィーガンコミュニティ(以下、VCといいます)は、メンバーの個人情報を適切に保護することの重要性を認識し、個人情報の保護について以下のように取り組みます。
    </p>
    <br>
    <br>

    1.個人情報の収集は、活動・事業において必要な範囲内で、利用目的を明確にし、適法かつ公正な手段で行います。<br>

    2.VCでは、メンバーの個人情報を、以下の目的のために利用させていただきます。<br>
    出資金、メンバー名簿の管理<br>
    定款に基づく事業における商品及び各種サービスの案内、提供<br>
    ご利用明細等のお知らせ及びご利用代金の口座振替、振込<br>
    アフターサービスや商品事故などへの対応<br>
    お問い合わせへの対応やご連絡<br>
    VCの商品・サービス・運営の改善のアンケート<br>
    VCの事業や運営、活動に関わる情報の提供<br>
    法令に基づく対応<br>
    <br>
    3.個人情報の利用は、上述の目的の範囲に限ります。また、その目的の範囲外で利用する場合は、法令の定めのある場合を除き、ご本人の同意を得るものとします。<br>
    <br>
    4.利用目的を変更する場合には、変更前の利用目的と関連性を有すると合理的に認められる範囲を超えて行いません。<br>
    <br>
    5.個人情報の第三者提供は、次に掲げる場合を除き、収集した個人情報を第三者に提供することはありません。<br>
    ご本人の事前の同意・承諾を得た場合法令等により、開示・提供が求められた場合<br>
    人の生命、身体または財産の保護のために必要がある場合であって、ご本人の同意を得ることが困難である場合<br>
    公衆衛生の向上または児童の健全な育成の推進のためにとくに必要がある場合であって、ご本人の同意を得ることが困難である場合<br>
    国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合
    　ただし、次のいずれかに該当する場合は、第三者提供に該当しないものとします。<br>
    子会社・関係会社等と共同利用する場合<br>
    利用目的の達成に必要な範囲内において個人情報の取り扱いの全部または一部を委託する場合<br>
    <br>
    6.個人情報は、利用目的の達成に必要な範囲において、正確かつ最新の状態で管理し、個人情報への不当なアクセスまたは紛失、破壊、改ざん、漏えい等の予防に努めます。<br>

    7.メンバーのVCの利用状況は、サービスの向上を目的とし、情報を復元できないように匿名化した上で、継続的に一部の取引先に提供を行います。<br>

    8.個人情報の保護に関する法令およびその他の規範を遵守します。<br>

    9.適切な個人情報の保護を維持するために、個人情報保護の取り組みを継続的に見直します。<br>

    10.ご自身の個人情報に関してのお問い合わせには、個人情報保護に関する規程に則って、可能な限り対応します。個人情報についてのお問い合わせは、VCホームページで受けつけます。<br>
  </div>
  <div>
    <a href="/fill-member-info">個人情報の取り扱いに同意する</a>
  </div>
</section>

