<body>

<%= render 'sessions/header' %>

<section class="greeting-detail">
  <h2>代表の挨拶</h2>
  <%= image_tag 'greeting_big.png' %>
  <p class="greeting-detail-text">
    高校三年生の秋に、“ぺちゃんこの猫”を見たことがきっかけに、多くの事実を知りヴィーガンになりました。<br>
    それから数ヶ月後、あるヴィーガンフェスティバルに参加して多くのベジタリアンやヴィーガンの人々と出会いました。彼らは、他者や未来のことを思いやる心を持ち、実際に行動するとても優しい人達でした。しかし、ヴィーガンであるからこそ友人を失ったり、普段の生活に不便を感じている人が少なくありませんでした。<br>
    平和な世界を実現する為には、今を生きる人々が他者や未来への思いやりの心を持って行動することが必要ですが、そのような優しい人が、優しいが故に笑顔で暮らせていないことに大きな違和感を抱きました。<br>
    このような思いから、VCでは平和な世界を志す多くの仲間と協同し、「笑顔溢れるVegan Lifeを共創する」ことを1st Missionに掲げ、「今、そして未来も、誰もが笑顔でいられる社会」を最短距離で創ることを目指します。
  </p>
</section>

<section class="rep-history">
  <h2>経歴</h2>
  <p class="rep-history-text">
    <1999年2月28日><br>
    大阪にて生まれる。(2700g)<br><br>

    <2016年11月1日><br>
    ぺちゃんこの猫を見てVeganに。<br><br>

    <2017年4月><br>
    神戸大学国際人間科学部に入学。<br><br>

    <2017年5月><br>
    NPO法人ベジプロジェクトへ加入。<br>
    神戸大学支部を設立し、食堂へのVeganメニュー導入をサポート開始。<br><br>
    <201711月><br>
    一般社団法人日本スローフード協会主催「We Feed The Planet」にて
    パネルディスカッション登壇。<br><br>

    <2018年4月><br>
    日本ヴィーガンコミュニティ設立。<br><br>
  </p>

  <div id="social-platforms">
    <h4>連絡</h4>

    <a class="btn btn-icon btn-facebook" href="#"><span>Facebook</span></a>
    <a class="btn btn-icon btn-twitter" href="#"><span>Twitter</span></a>
  </div>
</section>

</body>