<body>

<%= render 'sessions/header' %>

<section class="about-service">
  <h2>事業について</h2>
  <h4>メンバーの暮らしに笑顔を届けます</h4>
  <p>
    VCの事業は、全てのメンバーの暮らしに笑顔を届ける為に存在します。
    また、メンバーの一人ひとりが運営に参加する姿勢を持ち、参加が可能な仕組み作りを行います。
  </p>
  <h4>今、そして未来も、誰もが笑顔でいられる社会</h4>
  <h5>「今、そして未来も」</h5>
  <p>
  <p>
    今だけではなく、未来の世代や地球を思う心と行動を大切にすることを表しています。<br>
    そして同時に、未来だけではなく、今を生きる一人ひとりが笑顔でいられる暮らしの実現を目指しています。
  </p>

  <h5>「誰もが」</h5>
  <p>
    自分一人の利益ではなく、他者を思いやる心と行動を大切にすることを表しています。<br>
    また「誰もが」には、自分はもちろん、世界中の人々や動物、植物を含んだ地球の上で生きる者を包含しています。
  </p>
</section>

<section class="v-talk" id="v-talk">
  <h2>V-Talk</h2>
  <%= image_tag '' %>
  <h2>自分だけの納得解を見つけよう</h2>
  <p>
    毎回一つの問いを設け、自分と向き合い、
    自分の意見を話し、他のメンバーとの議論を通して、
    自分だけの納得解を見つけるイベントを定期的に開催します。
  </p>
  <div>
    <a href="#" class="btn btn-primary">参加する</a>
  </div>

</section>

<section class="v-meet" id="v-meet">
  <h2>V-Meet</h2>
  <%= image_tag '' %>
  <h2>心から笑顔でいられる友人と出会おう</h2>
  <p>
    全メンバーのプロフィールを蓄積する事で、
    メンバー同士が簡単に交流できるシステムを作り、
    心から笑顔でいられる友人と出会えるサービスを提供します。
  </p>
  <div>
    <a href="#" class="btn btn-primary">参加する</a>
  </div>


</section>

<section class="v-cook" id="v-cook">
  <h2>V-Cook</h2>
  <%= image_tag '' %>
  <h2>毎日の食卓を、共に彩る。</h2>
  <p>
    自慢のレシピを投稿・蓄積し、
    メンバー全員で共有することが出来る、
    毎日の食卓を彩るみんなのレシピ集を作ります。
  </p>
  <div>
    <a href="#" class="btn btn-primary">参加する</a>
  </div>
</section>

</body>